.picture {
  width: 100%;
}

.row {
  height: 100vh;
  padding: 0px 50px;
}

.row__footer {
  height: fit-content;
}

.contact__logo {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 150px;
}

.contact__logo a {
  color: white;
}

.contact__logo a:visited {
  color: white;
}

.contact__footer {
  display: flex;
  justify-content: center;
}

.contact__footer--text {
  position: absolute;
  bottom: 0px;
}

@media (max-width: 768px) {
  .contact__footer--text {
    text-align: center;
  }

  .contact__logo {
    top: 0%;
  }
}